<div class="contactUsMain" style=" background-image: url(/WebTech/FoodImg/contactUs2.jpg)">
    <h1> CONTACT US </h1>
</div>
<div class="contactsUs-container">
    {contactBox}
    {contactBox}
    {contactBox}
    {contactBox}
</div>

<div class="formField">
    <h2>Contact Form</h2>
    <div class="contactForm-container">
        <div class="contactForm">
            <form method="post">
                <div class="contactForm-item">
                    <label>Name</label>
                    <input type="text" name = "name" placeholder="Enter here">
                </div>
                <div class="contactForm-item">
                    <label>Email</label>
                    <input type="text" name = "email" placeholder="Enter here">
                </div>
                <div class="contactForm-item">
                    <label>Phone</label>
                    <input type="text" name = "text" placeholder="Enter here">
                </div>
                <div class="contactForm-item">
                    <label>Message</label>
                    <input type="text" name = "message" placeholder="Enter here">
                </div>
                <input class="inputButton" type="submit">
                <div>
                    {text}
                </div>
            </form>
        </div>
    </div>
</div>
</main>
