<footer>
    <div class="footerContainer">
        <div class="iconFooter">
            <div class="iconContainer">
                <div class="image">
                    <img style="height:100%;width:100%;"  src="WebTech/FoodImg/newlogo.jpg">
                </div>
            </div>
        </div>
        <div class="footerNavigation">
        <div class="menu">
            <h2>Menu</h2>
            <ul class="menuList">
                <li>Kitchen</li>
                <li>Taste</li>
                <li>Recipes</li>
                <li>Blog</li>
            </ul>
        </div>
        <div class="MeetChefs">
            <h2>Meet Chefs</h2>
            <ul class="menuList">
                <li>Mostara seol</li>
                <li>Garvik los</li>
                <li>Sutri morr</li>
            </ul>
        </div>
        <div class="SocialMedia">
            <h2>Social Media</h2>
            <ul class="menuList">
                <li>Twitter</li>
                <li>Facebook</li>
                <li>Instagram</li>
            </ul>
        </div>
    </div>
    </div>
    <div style="height:50px;   background-color: rgb(240, 138, 36);;">
    </div>
</footer>