
<header class = "header-container">
        <div class="icon">
            <img  src="WebTech/FoodImg/photo_2023-02-21_19-28-56.jpg">
        </div>
        <nav class="navigation-container">
            <div class="navigation">
            <a href="Main.php">
                    <div>
                        <i class="fa-sharp fa-solid fa-book-bookmark"></i>
                        <p>Main</p>
                    </div>
                    </a>
            <a href="#">
            <div>
                <i class="fa-solid fa-cake-candles"></i>
                <p>Taste</p>
            </div>
            </a>
                <a href="recipes.php">
                    <div>  
                         <i class="fa-solid fa-kitchen-set"></i>
                        <p>Kitchen</p>
                     </div>
                </a>
            <a>
            <div>
                <i class="fa-solid fa-pencil"></i>
                <p>Blog</p>
            </div>
            </a>
            <a href="contact.php">
            <div>
                <i class="fa-solid fa-comments"></i>
                <p>Contact</p>
            </div>
            </a>
        </div>
        </nav>
        <div class ="contacts">
            <div class="contacts-container">
                <a href="register.php" style="width:100%; text-decoration: none" >
                <button  class="authbtn">
                    <p >Register</p>
                </button>
                </a>
                <a  href="login.php" style="width:100%; text-decoration: none">
                <button class="authbtn" >
                        <p >Login</p>
                </button>
                </a>
                <a  href="quit.php" style="width:100%; text-decoration: none">
                <button class="authbtn">
                    <p>exit</p>
                </button>
                </a>
            </div>
        </div>
    </header>
