<main>
    <section class="readMoreSection" style="background-image: url(/WebTech/FoodImg/mainfood.jpg)">
        <div>
            <h1> Healthy food recipes </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing <br> elit, sed do eiusmod tempor incididunt</p>
            <button> Read more </button>
        </div>
    </section>
    <section class="foodTypes">
        <h1> Taste of food </h1>
        {Food_Container}
        {Food_Container}
        {Food_Container}
        {Food_Container}
        {Food_Container}
        {Food_Container}
        <button> Read More</button>
    </section>
    <div class="line"></div>
    <section class="recipes">
        <h1> Recipes </h1>
        {Recipe_Container}
        {Recipe_Container}
        {Recipe_Container}
        {Recipe_Container}
        {Recipe_Container}
        {Recipe_Container}
        {Recipe_Container}
        {Recipe_Container}
    </section>


</main>
